Label {
    text-align: center;
}

#resultBox {
    text-align: right;
    font-size: 30;
}

#seven, #eight, #nine, #multiply,
#four, #five, #six, #subtract, 
#one, #two, #three, #add,
#zero, #equal, #divide, #clear {
    height: auto;
}

Label:active , Label:checked {
    background-color: green;
}